<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  </head>
<body> -->


<!-- <ul class="recos">
<li *ngFor="let reco of recommendations" (click)="onSelect(reco)"
    [class.selected]="reco === selectedRecommendation">
  <span class="badge">{{reco.ctr}}</span>
  <span>{{reco.keyword}}</span>
  <button class="delete"
    (click)="delete(reco); $event.stopPropagation()">x</button>
</li>
</ul> -->
<div class="row">
<div class = 'col-xs-12'>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style = "background-color: rgb(126, 182, 234);color: rgb(67, 62, 72);font-weight: 500;">Recommended Keywords</th>
        <th style = "background-color: rgb(126, 182, 234);color: rgb(67, 62, 72);font-weight: 500;">CTR</th>
        <th style = "background-color: rgb(126, 182, 234);color: rgb(67, 62, 72);font-weight: 500;">CR</th>
        <!-- <th style = "background-color: rgb(126, 182, 234);color: rgb(67, 62, 72);"></th> -->

      </tr>
    </thead>
<tbody>

<tr  *ngFor="let reco of recommendations">
  <!-- <span class="badge">{{reco.id}}</span> -->
  <td >{{reco.keyword}}</td>
  <td>{{reco.ctr}}</td>
  <td>{{reco.cr}}</td>
  <!-- <td>
    <button class="delete" (click)="reco.hideElement=!reco.hideElement">x</button>
  </td> -->

</tbody>
</table>
</div>
</div>

<!--

</body>
</html> -->
