
<!--
<chart [options]="option">

</chart>
<chart [options]="optionk">

</chart>
-->

<!-- <h1>Hello!</h1>
   <nav>
     <a routerLink="/fileUpload">File Upload</a>
     <a routerLink="/charts">Charts</a>
   </nav> -->

   <ol class="breadcrumb">
       <li>
             <i class="fa fa-money" aria-hidden="true"></i>  <a routerLink="/fileUpload">File Upload</a>
       </li>
       <li>
           <i class="fa fa-money" aria-hidden="true"></i>  <a routerLink="/charts">Charts</a>
      </li>
   </ol>


<!-- <file-upload #fu (change)="fu.upload()"></file-upload> -->


<router-outlet >

<div hidden=True>
<dinosaurs>
</dinosaurs>

<file-upload>
</file-upload>
</div>

</router-outlet>
